@import url("http://fonts.googleapis.com/css2?family=poppins_wght@100:200:300:400:500:600&display=swap");

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins;sans-serif';

}

html{

    font-size: 62.5%;
    scroll-behavior: smooth;

}

body{

    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;

}

header{

    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{

    color: rgba(85, 85, 252, 0.815);
    font-size: 23px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;


}

.logo:hover{

    transform: scale(1.1);
    color: rgba(85, 85, 252, 0.815);

}

nav a{

    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;

}

nav a:hover,
nav a:active{
    color: rgba(85, 85, 252, 0.815);
    border-bottom: 3px solid rgba(85, 85, 252, 0.815);
}

@media(max-width:995px){

    nav{

        position:absolute;
        display: none;
        top:0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgba(85, 85, 252, 0.815);
        border-bottom: 3px solid rgba(85, 85, 252, 0.815);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 1);

    }

    nav:active{

        display: block;

    }

    nav a{

        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    nav:hover,
    nav:active{

        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid rgba(85, 85, 252, 0.815);
    }


    
}

section{

    min-height: 100vh;
    padding: 5rem 9% 5rem;

}

.home{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;

}

.home .home-content h1{

    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;

}

span{

    color: rgba(85, 85, 252, 0.815);


}

.home-content h3{

    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;

}

.home-content p{

font-size: 1.6rem;

}

.home-img{

    border-radius: 50%;

}

.home-img img{

    position: relative;
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px solid;
    cursor: pointer;
    transition: 0.2s linear;

}

.home-img img:hover{

    font-size: 1.8rem;
    font-weight: 500;

}

.social-icons a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgba(85, 85, 252, 0.815);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
  

}

.social-icons a:hover{

    color: black;
    transition: all 0.3s ease;
    transform: scale(1.3) translateY(-5px);
    background-color: rgba(85, 85, 252, 0.815);
    box-shadow: 0 0 25px rgba(85, 85, 252, 0.815);


}

.btn{

    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgba(85, 85, 252, 0.815);
    letter-spacing: 0.3rem;
    border: 2px solid rgba(85, 85, 252, 0.815);
    transition: 0.3s ease;
    cursor: pointer;

}

.btn:hover{

    transform: scale3d(1.03);
    background-color: rgba(85, 85, 252, 0.815);
    color: black;
    box-shadow: 0 0 25px rgba(85, 85, 252, 0.815);
    
}

.typing-text{

    font-size: 34px;
    font-weight: 600;
    min-width: 280px;

}

.typing-text span{

    position: relative;

}

.typing-text span::before{

    content: 'software Developer';
    color: rgba(85, 85, 252, 0.815);
    animation: words 20s infinite;

}

.typing-text span::after{

    content: '';
    background-color: black;
    position: absolute;
    border-left: 3px solid black;
    height: 100%;
    right: -8px;
    animation: cursor 0.6s infinite;


}

@keyframes cursor{

    to{

        border-left: 3px solid rgba(85, 85, 252, 0.815);

    }

}

@keyframes words{

    0%,20%{

        content:'Web Developer';

    }

    21%,40%{

        content: 'Developer';

    }

    41%,60%{

        content: 'Web Design';

    }

    61%,80%{

        content: 'YouTuber';

    }

    81%,100%{

        content: 'Script Writer';

    }

}

@media(max-width:1000px){

    .home{

        gap: 4rem;

    }

}

@media(max-width:995px){

    .home{

        flex-direction: column;
        margin: 5rem 4rem;

    }

    .home .home-content h3{

        font-size: 2.5rem;

    }

    .home-content h1{

        font-size: 5rem;

    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

}

.contact{
    
    height: 100vh;
    width: 100%;
    transform: scale3d(1.1);

}

.contact p{

    position: relative;
    left: 17pc;
    display: block;
    font-size: 30px;

}

.contact p span::before{

    content: 'Idea';
    animation: msgalter 20s ease infinite;

}

.contact p span::after{

    content: '';
    border-left: 1px solid black;
    position: relative;
    right: -8px;
    animation: cursor 0.6s infinite;

}

@keyframes msgalter {
    

    0%,25%{

        content: 'Feedback';

    }

     26%,50%{

        content: 'Message';

    }

     51%,75%{

        content: 'Proposal';

    }

     76%,100%{

        content: 'Idea';

    }

}

.maindata-container-contact{

    position: relative;
    top: 20px;
    left: 15pc;
    width: 100%;
    display: block;    

}

#msg-contact{

    resize: none;
    padding: 15px;
    margin-left: 15px;
    border: 1px solid rgba(85, 85, 252, 0.815);
    border-radius: 20px;

}



.contact input{

    height: 40px;
    width: 18pc;
    display: block;
    font-size: 15px;
    margin: 10px 0 10px 15px;
    border-radius: 20px;
    border: 1px solid rgba(85, 85, 252, 0.815);
    padding-left: 20px;

}

#send{

    height: 50px;
    cursor: pointer;
    width: 18pc;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 15px;
    border-radius: 20px;
    color: white;
    display: block;
    background-color: rgba(85, 85, 252, 0.815);
    border: 1px solid rgba(85, 85, 252, 0.815);

}
#send:hover{

    background-color: white;
    transition: .5s all ease;
    color: rgba(85, 85, 252, 0.815);

}

.contact label{

    color: rgba(85, 85, 252, 0.815);
    display: block;
    font-size: 15px;

}


/*skills*/

#img-represent{

   

}

#img-represent img{

    width: 13pc;
    height: 13pc;
    display: block;
    position: relative;
    border-radius: 20pc;

}

#img-represent p{

    font-size: 20px;
    position: relative;
    display: block;

}


